.features .box{
    padding: 50px;
}
.features .box h2{
    margin: 20px 0 20px 0;
}
.features .box p{
    word-spacing: 2px;
    transition: 0.5s;

}
.features .box i{
    font-size: 30px;
    margin-top: 20px;
    transition: 0.5s;
    opacity: 0;
}
.features .box:hover p{
    color: white;
}
.features .box:hover i {
    opacity: 1;
}

/* ........................ */

@media (max-width:768px){
 .content{
    width: 10px;
 }  
 .grid{
    width: 50px;
 }
}
/* //////////////////////////////////////////////// */
/* @media screen and (max-width:600px){
 .content{
    width:100px;
    
 } 
 .box{
    width: 215px;
    
    height: 500px;
 }
 .features .box h2{
    margin: 5px 0 5px 0;
 
} 
} */

/* ///////////////////////////////// */

@media screen and (max-width:360px) {

   
     .content{
        width:100px;
        
     } 
     .card-f{
        width: 160px;
        height: 300px;
        
     }
     .features .box h2{
        margin: 5px 0px 5px 0;
        font-size: 18px;
     
    }  
    .features .box{
        padding: 10px;
    }
    .features .box p{
        word-spacing: 1px;
        font-size: 15px;
        
    
    }
    
}
 
