.hero{
    position:relative ;
    margin-top: -100px;
}


.hero h3{
    font-weight: 100;
    letter-spacing: 2px;
}
.hero h1{
    font-size: 60px;
    font-weight: bold;
}
.hero h1 span{
    color: #ff014f;
}
.hero h2{
    font-size: 50px;
    font-weight: bold;
    color: #ff014f;
}
.hero h2 span{
    color: black;
}
.hero p{
    color: #878e99;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
}
.hero_btn{
    margin-top: 1%;
}
.hero_btn h4{
    font-weight: 500;
    letter-spacing: 2px;
    color: #43474b;
    font-size: 15px;
    margin: 30px 0 30px 0;
}
.hero_btn button{
   margin-right: 20px;        /*  39 */
}
.hero_btn i{
    font-size: 20px;
}
.hero_btn button img{
    width: 20px;
    height: 20px;
}
.hero .left{
    margin-right: 10%;
}
.hero .right{
    width: 40%;
    position: relative;
}
.hero .right_img{
     background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
    border-radius: 10px;
    height: 580px;
    width: 510px;
    margin-top: 20%;
}
.hero .right_img img{
    position: absolute;
    top: 57px;
    right: 10%;
    width: 510px;
}
/* ////////////////////////////////////////////////// */
@media ( max-width:768px){
    .hero .right, .hero .left{
        width: 100%;
        margin-left: 20px;
    }
    .hero .f_flex{
        flex-direction: column;
        flex-direction: column-reverse;
        
    }
    .herov.right_img{
        width: 100%;
        height: 54vh;

    }
    
}
/* ///////////////////////////////////////////////// */

@media screen and (max-width:600px) {
    .hero .right, .hero .left{
        width: 100%;
        margin-left:0px;
    }
    .hero .f_flex{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    
    .hero .right_img img{
       
        top: 30px;
        right: 4%;
        width: 430px;
    }
    .hero .right_img{
        background: linear-gradient(145deg, #92c6e9, #df9ce7);
       box-shadow: 4px 4px 8px #0bcae4, 4px -4px 8px #09e4ad;
       border-radius: 10px;
       height: 460px;
       width: 440px;
       margin-top: 20%;
   }
}
/* //////////////////////////////////////////////////////////////// */
@media screen and (max-width:360px) {
    .hero .right, .hero .left{
        width: 100%;
        margin-left:0px;
    }
    .hero .f_flex{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    
    .hero .right_img img{
       
        top: 30px;
        right: 4%;
        width: 325px;
    }
    .hero .right_img{
        background: linear-gradient(145deg, #258b3b, #1086a3);
       box-shadow: 4px 4px 8px #6d2069, 4px -4px 8px #e409bf;
       border-radius: 10px;
       height: 360px;
       width: 325px;
       margin-top: 20%;
   }
   /* //////////////////left////////////////// */
   .hero .left h1{
     font-size: 25px;
   }
   .hero .left h2{
     font-size: 25px;
   }
   .hero .left p{
     font-size: 20px;
   }
   .hero_btn button{
    width: 140px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}
}
 
 
  